$primary: #3f3f3f;
$secondary: #030303;
$white: #fff;
$gray: #9b9b9b;
$blue200: #90c2ff;
$blue300: #64a8ff;

.create-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 30px;
}
.img-filebox {
  width: 100%;
  #createPost-img {
    label {
      img {
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s;
      }
      img:hover {
        opacity: 0.7;
      }
    }
  }
}

.update-content-container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 50px auto;

  .createPost {
    position: relative;
    margin-top: 15px;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    font-size: 1.4rem;
    color: $gray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .field {
    margin-top: 30px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: -10px;
      display: block;
      transition: 0.2s;
      font-size: 0.8rem;
      color: $blue200;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $blue200, $blue300);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}

.post_save_btn {
  color: white;
  background-color: $gray;
  border-radius: 5px;
  align-items: center;
  width: 80px;
  height: 40px;
  margin: 30px auto;
  cursor: pointer;
  transition: all 0.3s;
}
.post_save_btn:hover {
  background-color: $blue200;
}
