.modalFirstBlack {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0%;
  top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20;
  overflow-y: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-side {
  width: 100%;
  height: 10%;
  cursor: pointer;
}

.visible {
  top: 0vh;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.2, -0.01, 0, 1.02);
}

.hide {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.2, -0.01, 0, 1.02);
}

.modalSecondWhite {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  z-index: 25;
  border: 0.5px solid #333d4b;
  overflow-y: auto;
}

.modalFlex {
  width: 80%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}

.modalGrid {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  height: 100px;
  margin: 20px 20px;
}
.modalGrid .modalTitle {
  text-align: center;
  color: black;
  font-weight: 700;
}
.modalGrid .modal-btn {
  width: 60%;
  height: 30%;
  color: #333d4b;
  align-self: flex-end;
  border: none;
  background-color: transparent;
  transition-duration: 0.5s;
}
.modalGrid .modal-btn:hover {
  transform: scale(1.4);
  background-color: whitesmoke;
  cursor: pointer;
}
.modalGrid #modalButtonModify {
  background-image: url("");
  background-size: cover;
}
.modalGrid #modalModify-completed {
  background-image: url("");
  background-size: cover;
  display: none;
}
.modalGrid .modalButtonDelete {
  background-image: url("");
  background-size: cover;
  margin-left: -3px;
}

.modal-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  min-height: 1000px;
  padding: 40px 20px;
}
.modal-container #modalTitle {
  color: #333d4b;
  font-size: 48px;
  line-height: 1.8;
  padding: 10px;
  font-weight: 600;
}
.modal-container time {
  font-size: 15px;
  padding: 10px;
  color: #8b95a1;
}
.modal-container .img-container {
  width: 100%;
}
.modal-container .img-container #img-input {
  display: none;
}
.modal-container .img-container #modalPicture {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.modal-container .content-dsc {
  color: rgb(78, 89, 104);
  margin: 60px 40px;
}
.modal-container .content-dsc .modalContent {
  line-height: 2;
  font-size: 18px;
  font-weight: 300;
}
.modal-container .content-dsc #contentTextarea {
  line-height: 1.4;
}

.modalButtonClose {
  position: absolute;
  right: 8px;
  top: 60px;
  width: 24px;
  height: 24px;
  border: none;
  color: #dbdbde;
  cursor: pointer;
  transition: all 0.7s;
}

.modalButtonClose:hover {
  color: white;
}

.modalPicture {
  width: 30%;
  height: 50%;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

.form__group {
  display: none;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #333d4b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::-moz-placeholder {
  color: transparent;
}
.form__field:-ms-input-placeholder {
  color: transparent;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__field:-ms-input-placeholder ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #3f3f3f, #030303);
     border-image: linear-gradient(to right, #3f3f3f, #030303);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #3f3f3f;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.text__grop {
  display: none;
  width: 100%;
}
.text__grop .content-label {
  font-size: 1rem;
  color: #9b9b9b;
  padding-bottom: 20px;
}
.text__grop #contentTextarea {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: 400px;
  border: 2px solid #9b9b9b;
  font-size: 1rem;
  border-radius: 5px;
}
.text__grop #contentTextarea:focus {
  -o-border-image: linear-gradient(to right, #3f3f3f, #030303);
     border-image: linear-gradient(to right, #3f3f3f, #030303);
}/*# sourceMappingURL=detail.css.map */